<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Noto+Serif+KR&display=swap"
      rel="stylesheet"
    />

    <title>숙제1</title>

    <style>
      * {
        font-family: "Black Han Sans", sans-serif;
      }
      .doc_news * {
        font-family: "Noto Serif KR", serif;
      }
      .my_content {
        width: 900px;
        margin: 0px auto;
      }
    </style>
  </head>
  <body>
    <div class="my_content">
      <div>
        <img
          src="{{ url_for('static', filename='23682_75171_733.jpg') }}"
          class="rounded-lg img-fluid"
        />
      </div>

      <h1 id="product_name" class="mt-4">테슬라 - 로드스터</h1>
      가격: 138,000,000 원 / 대
      <p>
        "독일 뉘르부르크링 서킷에서 차세대 로드스터의 랩 타임 테스트를 진행" -
        일론 머스크
      </p>

      <div class="doc_news shadow p-3 border border-dark text-justify">
        <p>
          전기차들의 뉘르부르크링 기록에 사람들의 관심이 몰리고 있다. 한 유명
          유튜버는 머스크에게 차세대 로드스터의 뉘르부르크링 주행을 요구했으며,
          머스크는 트위터를 통해 “내년에”라는 답을 남겼다. 신차는 내년 출시를
          앞두고 있다. 한편, 양산형 전기차 기준 가장 빠른 뉘르부르크링 기록은
          중국 전기차 업체 니오(NIO)의 ‘EP9’이 세운 6분45초9다. 이는 6분57초를
          기록한 하이브리드 슈퍼카 포르쉐 918 스파이더보다 10초 이상 빠른
          수치다.
        </p>
        <small class="mt-3 align-right"
          >출처 : 모터그래프(<a href="https://www.motorgraph.com"
            >https://www.motorgraph.com</a
          >)</small
        >
      </div>

      <h1 class="mt-5 mb-3">주문하기</h1>

      <div class="w-75">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >주문자 성함</span
            >
          </div>
          <input
            id="input_name"
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >수량</label
            >
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option value="0" selected>수량을 선택하세요</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >주소</span
            >
          </div>
          <input
            id="input_address"
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >전화번호</span
            >
          </div>
          <input
            id="input_phone"
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
      </div>

      <button
        type="button"
        class="mt-4 mb-5 btn btn-primary btn-lg"
        onclick="onOrder()"
      >
        주문하기
      </button>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script>
      function onOrder() {
        let name = $("#input_name").val();
        if (name == "") {
          alert("이름을 입력하세요");
          return;
        }

        let count = $("#inputGroupSelect01").val();
        if (count < 1) {
          alert("수량을 선택하세요");
          return;
        }

        let address = $("#input_address").val();
        if (address == "") {
          alert("주소를 입력하세요");
          return;
        }

        let phone = $("#input_phone").val();
        if (phone == "") {
          alert("전화번호를 입력하세요");
          return;
        }
      }
    </script>
  </body>
</html>
